h1{
    font-size: 48px;
    line-height: 1.2;
    padding: 1.5rem;
}

h3:hover{
    color: #37d60f;
}

.container-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}

.bom-dia{
    padding: 20px 0 0;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    
}

.bom-dia-area{
    width: 650px;
    height: 500px;
    background: #fff;
    border: 2px solid #e3ee44;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cv2{
    border: 1px solid #000000;
}


.bom-dia-form{
    border: 2px solid #37d60f;
    box-shadow: 0 0 8px 1px #adadad;
    flex: 0 1 440px;
    margin-left: 26px;
    position: relative;
}

.bom-dia-nav{
    font-size: 18px;
    display: inline-block;
    padding: 10px 25px;
    border-bottom: 1px solid #ccc;
    width: calc(100% - 50px);
}

input{
    border: 1px solid #000000;
    height: 37px;
    font-size: 18px;
    padding: 0px 20px px px;
}

span{
    color: #434343;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    padding: 5px 0 7px 0;
}

#bom-dia-form-data{
    padding: 7px 25px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px 0;
}

#bom-dia-form-data select{
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    position: relative;
    border: 1px solid #030303;
    height: 37px;
    width: 100%;
    background: #fff;
}

.bom-dia-form-largura{
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: auto 5px 10px;
}

#imgW{
   width: calc(100% - 30px); 
}

#imgH{
    width: calc(100% - 30px);
}

.select-type{
    flex: 1 1 135px !important;
}

.add-px{
    position: relative;
}

.bom-dia-form-symbol{
    flex: 0 0 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 10px;
}

.bom-dia-field{
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: auto 5px 10px;
}

.bom-dia-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto 50px;
    width: 100%;
    float: none;
    text-align: center;
}

/* botao de baixar imagem */
.save-img{
    display: inline-block;
    min-width: 180px;
    border: 1px solid #c6d400;
    border-radius: 60px;
    margin: 0;
    padding: 11px 16px;
    height: 47px;
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    background-color:  #37d60f;
    transition: all .35s ease-in-out;
    box-sizing: border-box;
    white-space: nowrap;
    letter-spacing: 0;
    cursor: pointer;
}

.save-img:hover{
    background-color: #196107;
}

/* share rede sociais */
.bom-dia-share{
    margin-top: auto;
    width: 100%;
    text-align: center;
    background: #fafafa;
    bottom: 0;
    position: absolute;
    line-height: 40px;
    border-top: 1px solid #ccc;
}

.bom-dia-share .fa-facebook:before{
    width: 18px;
    color: #191cc9;
}

.bom-dia-share .fa-twitter:before{
    width: 18px;
    color: #3ddee4;
}
